* {
    margin: 0;
    border: 0;
}

.gameBoard {
    display: flex;
    height: 520px;
    width: 520px;
    flex-wrap: wrap;
    border: 4px solid black;
}

.quadrado-preto,
.quadrado-branco {
    height: 65px;
    width: 65px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
}

.quadrado-preto {
    background-color: #544e4a;
}

.quadrado-branco {
    background-color: #b6b0ac;
}

i {
    font-size: 40px;
    height: 85%;
    width: 100%;
    padding-top: 10px;
}

.jogador-preto {
    color: black;
    height: 65px;
    line-height: 5;
}

.jogador-branco {
    color: white;
    height: 65px;
}

.ponto-preto {
    font-weight: 800;
    font-size: 90%;
    line-height: 4.5;
}

.borda {
    border: 1px solid black;
}