.gameBoard {
    display: flex;
    height: 520px;
    width: 520px;
    flex-wrap: wrap;
    border: 4px solid black;
}

.quadrado-preto {
    background-color: #544e4a;
    height: 65px;
    width: 65px;
    text-align: center;
    line-height: 5;
}

.quadrado-branco {
    background-color: #b6b0ac;
    height: 65px;
    width: 65px;
    text-align: center;
    line-height: 5;
}

i {
    font-size: 40px;
}

.jogador-um {
    color: black;
}

.jogador-dois {
    color: white;
}

.ponto-preto {
    font-weight: 800;
    font-size: 90%;
    line-height: 4.5;
}